<%- include('navbar')%>
<body>
    <div class="text-center F1 font30 padding-bt padding-t bold">ChatCSIfElse</div>
    <div class="form-group">
        <div class="text-center padding-t" >
          <a type="submit" class="btn btn-primary" href="/signInPage">Sign in</a>
        </div>
</body>
</html>